* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Helvetica, sans-serif;
}

:root {
	--progress-ring-size: 300px;
	--progress-ring-width: 15px;
}

#canvas {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	padding: 50px;
	background-color: white;
}

.progressRing {
	display: inline-flex;
	width: var(--progress-ring-size);
	height: var(--progress-ring-size);
	margin: 20px;
	border-radius: 50%;
	box-shadow: 0px 0px 3px #5a2d90;
}

.ringContent {
	position: relative;
	left: var(--progress-ring-width);
	top: var(--progress-ring-width);
	width: calc(100% - (2 * var(--progress-ring-width)));
	height: calc(100% - (2 * var(--progress-ring-width)));
	border-radius: 50%;
	background: white;
	/* animation: warn 4s linear;*/
	text-align: center;
	vertical-align: middle;
}

.ringContentSubtext {
	position: relative;
	top: calc(var(--progress-ring-size) / 5);
	font-size: calc(var(--progress-ring-size) / 10);
}

.ringContentMaintext {
	position: relative;
	top: calc(var(--progress-ring-size) / 5);
	font-size: calc(var(--progress-ring-size) / 3);
}
